<!DOCTYPE html>
{% load static %}
<html>
    <head>

        <title>{% block title %}{% endblock title %}</title>
        <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
        <link rel="stylesheet" href="{% static "css/styles.css" %}">
    </head>

    <body>
        <nav class="navbar-container">
            <ul class="navbar-wrapper">
                <li class="navbar-object"></li>
                <li class="navbar-object"></li>
            </ul>
        </nav>

        <main class="main-container">
            {% block content %}
            {% endblock content %}

            {% if is_paginated %}
            <div class="pagination">
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="{{ url }}?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
                        <span class="page-current">
                            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                        </span>
                    {% if page_obj.has_next %}
                        <a href="{{ url }}?page={{ page_obj.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}
        </main>
    </body>

    <footer class="footer-container">
        <p>If you crash my server, I crash your face!</p>
    </footer>

</html>